<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Bugly升级SDK权限配置开始 -->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- <uses-permission android:name="android.permission.GET_TASKS" /> -->
    <!-- Bugly升级SDK权限配置结束 -->
    <application
        android:name=".util.SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.HotActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TabLayoutActivity" />
        <activity android:name=".activity.TabHostActivity" />
        <activity android:name=".activity.ViewPagerActivity" />
        <activity android:name=".activity.ImageActivity" />
        <activity android:name=".activity.BottomBehaviorActivity" />
        <activity android:name=".activity.RecyclerViewActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/FinestWebViewTheme.Light" />
        <activity android:name=".activity.VideoActivity" />
        <activity android:name=".activity.UuidActivity" />
        <activity android:name=".activity.HotUpdateActivity" />
        <activity android:name=".activity.HotFixActivity" />

        <!-- Bugly升级SDK配置开始 -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <!-- API 24以上配置 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.sample.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- Bugly升级SDK配置结束 -->
        <!--<activity android:name=".activity.HotActivity"></activity>-->
    </application>

</manifest>